.navbar{
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #95989a;
    font-weight: bold;
}
nav.navbar.navbar-default {
    background-color: white;
    border: none;
}
.logo img.img-responsive {
    width: 70%;
    margin: auto;
    margin-top: -5px;
 }
 .line{
    border-left: 3px solid #95989a;
    position: absolute;
    height: 36px;
    left: 50%;
    top: 6px;
 }
 input[type=search] {
    width: 20px;
    height: 35px;
    margin-right: 15px;
    transition: width 0.4s ease-in-out;
    background: url(/assets/search.png) no-repeat 10px 8px;
    background-size: 22px;
    padding: 0 5px 0 30px;
    color: #adadad;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

/* When the input field gets focus, change its width to 100% */
input[type=search]:focus {
    width: 40%;
    outline: none;
}
 